.filters {
	position: absolute;
	top: 90px;

	& button {
		width: 100px;
		height: 30px;
		color: #269fe7;
		font-size: 17px;
		border: none;
		margin: 10px;
		background: transparent;
	}
	.newest {
		border-bottom: 2px solid #269fe7;
	}
	.popular {
		border-bottom: 2px solid #269fe7;
	}
}
